<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="containter">
        <img id="logo" class="logo" alt="logo">
        <img src="<%= require('./assets/ecj-cli.png') %>" alt="">
        <a target="_blank" href="https://github.com/limingcan562/ejc-cli">Manage your json data better with visual Excel sheets</a>
    </div>
    
</body>
</html>